
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
h1 {
    color: blue;
    text-align: center;
}
p {
    color: gray;
    font-size: 16px;
}
button{
    background-color: aliceblue;
    color: black;
    
}
#maldivess{
    background-color: aliceblue;
    display: flex;
    color: black;
    padding: 20px;
    padding-top: 300px;    /* Top padding */
padding-right: 20px;  /* Right padding */
padding-bottom: 20px; /* Bottom padding */
padding-left: 20px;    /* Left padding */
text-align: center;
}
button{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
    align-content: center;
}
button:hover{
    background-color: aqua;
    color: black;
    transform: scale(1.05); 
}
#new section{
    background-color: aqua;
    color: black;
    text-align: center;
    padding: auto;
}
#new section button{
    background-color: aliceblue;
    color: black;
    padding: 10px 20px;
    border: none;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
#contact us button{
    color: black;
    background-color: aliceblue;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
    text-align: center;
    padding: 10px 20px;
}
p{
    text-align: center;
}
button{
    align-items: center;
}
#about{
    color: black;
    background-color: aliceblue;
    text-align: center;
}